<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
</head>
<body>
<h1 layout:fragment="title">Update Currency</h1>
<main layout:fragment="content">
    <form th:action="@{/admin/currency/update}" th:object="${currencyForm}" method="post">
        <div class="row">
            <input type="hidden" th:field="*{id}"/>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Code</label>
                    <input type="text" class="form-control" th:field="*{code}" readonly/>
                    <span class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">code error</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" th:field="*{name}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</span>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="submit" class="btn btn-danger float-right" onclick="this.form.action='/admin/currency/delete'">Delete</button>
            </div>
        </div>
    </form>
</main>
</body>
</html>