<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
</head>
<body>
<h1 layout:fragment="title">Create New Exchange Rate</h1>
<main layout:fragment="content">
    <form th:action="@{/admin/exchange-rate/save}" th:object="${exchangeRateForm}" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>From</label>
                    <select class="form-control" th:field="*{fromCurrencyCode}">
                        <option value="">Select</option>
                        <option th:each="c : *{currencies}" th:value="${c.getCode()}" th:text="${c.toString()}"></option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('fromCurrencyCode')}" th:errors="*{fromCurrencyCode}">fromCurrencyCode error</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>To</label>
                    <select class="form-control" th:field="*{toCurrencyCode}">
                        <option value="">Select</option>
                        <option th:each="c : *{currencies}" th:value="${c.getCode()}" th:text="${c.toString()}"></option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('toCurrencyCode')}" th:errors="*{toCurrencyCode}">toCurrencyCode error</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Rate</label>
                    <input type="text" class="form-control" th:field="*{rate}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}">rate error</span>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-2 offset-md-5">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Create</button>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>